In [1]:
import numpy as np
import pandas as pd

In [19]:
coord = pd.read_csv("airports.dat", index_col=['AIRPORT'], 
                    usecols=['AIRPORT', 'LATITUDE', 'LONGITUDE']).groupby(level=0).first().dropna().sample(n=500, random_state=42).sort_index()
coord.head()

SyntaxError: invalid syntax (1235005061.py, line 3)

In [17]:
idx = pd.MultiIndex.from_product([coord.index, coord.index], 
                                             names=['origin','dest'])

pairs = pd.concat([coord.add_suffix('_SRC').reindex(idx, level='origin'),
                   coord.add_suffix('_DST').reindex(idx, level='dest')],
                  axis=1)
pairs.head()

             LATITUDE_SRC  LONGITUDE_SRC  LATITUDE_DST  LONGITUDE_DST
origin dest
2CA    2CA      35.745556    -119.236389     35.745556    -119.236389
       8F3      35.745556    -119.236389     33.623889    -101.240833
       A08      35.745556    -119.236389     56.598056    -134.242778
       A15      35.745556    -119.236389     70.718611    -154.388333
       A27      35.745556    -119.236389     64.440000    -144.936389