### Question 1

In [3]:
"Hello World"

'Hello World'

### Question 2

In [5]:
world = "Hello"

In [8]:
num = int(input("Please enter a number: "))
if (num % 2 == 0):
    print("The number is even")
else:
    print("The number is odd")

Please enter a number: 2
The number is even

### Question 3

In [13]:
name = "Deborah"
age = 23
print(name)
print(age)

name_age = name + " " + str(age)
print(name_age)

Deborah
23
Deborah 23

### Question 4

In [22]:
import random

while True:
    random_number = int(input("Please enter a random value: "))
    if random_number in range(random.randint(1, 10)):
        print("You are right")
        break;
    else:
        print("You are wrong")

Please enter a random value: 12
You are wrong
Please enter a random value: 34
You are wrong
Please enter a random value: 78
You are wrong
Please enter a random value: 90
You are wrong
Please enter a random value: 12
You are wrong
Please enter a random value: 4
You are right

### Question 5

In [26]:
# using a list

list = [1, 4, 9, 16, 25]
for i in list:
    if (i % 2 == 0):
        print("The values of i are : " + str(i))


# using a tuple
tuple = (1, 4, 9, 16, 15)
for j in tuple:
    if (j % 2 == 0):
        print("The values of j are : " + str(j))

The values of i are : 4
The values of i are : 16
The values of j are : 4
The values of j are : 16

### Question 6

In [60]:
age = 23
sum = 0
i = 1
while i <= age:
    sum += i
    if (i == 23):
        print(i, end=' = ')
    else:
        print(i, end=' + ')
    i = i + 1

print(str(sum) + " years", sep='=')

month = sum * 12
day = sum * 365
hour = sum * 22 * 365 

print('Months: ' + str(month) + ', ' + 'Days: ' + str(day) + ', ' + 'Hours: ' + str(hour) )

1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9 + 10 + 11 + 12 + 13 + 14 + 15 + 16 + 17 + 18 + 19 + 20 + 21 + 22 + 23 = 276 years
Months: 3312, Days: 100740, Hours: 2216280